[Desktop Entry]
Name=Epic Pinball
Exec=epicpinballpc
Comment=Shareware version of Epic Pinball
Type=Application
Icon=${SNAP}/epicpinball.png
Categories=Game;
StartupNotify=true
